<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <style>
        .room-card{
            border-style: solid;
            border-width: 1px;
            padding-bottom: 5px;
        }
        .hint-card{
            padding-bottom: 50px;
        }
    </style>
    
    <body>
        <!-- Connect or Disconnect WebSocket Server -->
        
        <div id="app">
            <button @click="connect">Connect</button>
            <br>
            <button @click="joinRoom()">joinRoom</button>
            <button @click="leaveRoom">leaveRoom</button>
            <!-- <button id="disconnect">Disconnect</button> -->

            <div>
                Message: <input type="text" v-model="message">
                <button @click="sendMessage()">Send</button>
            </div>
            <div class="container" style="padding-top: 10px;">
                <div v-show="status===1" class="row">
                    <div v-for="room in data.roomInfo" class="col-3 room-card">
                        <h5 class="card-title">{{room.roomId}}</h5>
                        <h5 class="card-title">{{room.roomName}}</h5>
                        <p class="card-text">Current Players: {{room.usersCount}}/{{room.maxPlayer}}</p>
                        <button class="btn btn-join" :class="room.canJoin? 'btn-primary':'btn-secondary'" @click="joinRoom(room.roomId)">Join Room</button>
                        <button v-if="room.roomId==data.roomId" class="float-end btn btn-join btn-primary"  @click="leaveRoom(room.roomId)">Leave Room</button>
                        <br>
                        <button v-if="room.roomId==data.roomId" style="margin-top:50px" class="btn btn-join btn-primary"  @click="sendMessage('startGame')">startGame</button>
                        
                    </div>
                </div>
                <div v-show="status===2">
                    <div class="row">
                        <div class="col-12">
                            <div>Spade</div>
                            <img v-for="card of data.deskCard[4]" :src="getImage('4'+card)" style="width:80px">
                        </div>
                        <div class="col-12">
                            <div>Heart</div>
                            <img v-for="card of data.deskCard[3]" :src="getImage('3'+card)" style="width:80px">
                        </div>
                        <div class="col-12">
                            <div>Diamond</div>
                            <img v-for="card of data.deskCard[2]" :src="getImage('2'+card)" style="width:80px">
                        </div>
                        <div class="col-12">
                            <div>Club</div>
                            <img v-for="card of data.deskCard[1]" :src="getImage('1'+card)" style="width:80px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" v-show="data.yourTurn">
                            <h1 class="text-danger bg-dark">my turn</h1>
                            <h1 class="bg-danger text-white" v-show="isCoverCard()">You must cover a card, click card to cover</h1>
                        </div>
                        <div class="col-12" style="padding-top: 50px;">
                            <img v-for="card in data.card" :src="getImage(card)" :class="cardCanPlay(card)" style="width:80px" @click="playCard(card)">
                        </div>
                        <div class="col-12" style="padding-top: 50px;" v-if="data.coverCard.length>0">
                            <h2>Your cover cards</h2>
                            <img v-for="card in data.coverCard" :src="getImage(card)" style="width:80px">
                        </div>
                    </div>
                </div>
                <div v-show="status===3" class="row">
                    <div class="col-12">
                        <div v-for="(item, index) in data.gameOver.score">
                            <img v-for="card in data.gameOver.coverCard[index]" :src="getImage(card)" style="width:80px">
                            <h3>{{data.gameOver.score[index]}}</h3>
                            <h3>------------------------------------------------------------------------------</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


<script>
  const { createApp, ref } = Vue
  createApp({
    data() {
        return {
            ws: null,
            message: '',
            data: {
                roomInfo: [],
                roomId: null,
                inGame: false,
                card: [],
                coverCard: [],
                deskCard: {
                    1: "",
                    2: "",
                    3: "",
                    4: "",
                },
                cardHint: {},
                yourTurn: false,
                gameOver: {
                    score: [],
                    coverCard: [],
                },
            },
            pingTimer: null,
            cardMapImge: {"11": "1C", "12": "2C", "13": "3C", "14": "4C", "15": "5C", "16": "6C", "17": "7C", "18": "8C", "19": "9C", "21": "1D", "22": "2D", "23": "3D", "24": "4D", "25": "5D", "26": "6D", "27": "7D", "28": "8D", "29": "9D", "31": "1H", "32": "2H", "33": "3H", "34": "4H", "35": "5H", "36": "6H", "37": "7H", "38": "8H", "39": "9H", "41": "1S", "42": "2S", "43": "3S", "44": "4S", "45": "5S", "46": "6S", "47": "7S", "48": "8S", "49": "9S", "1A": "TC", "2A": "TD", "3A": "TH", "4A": "TS", "1B": "JC", "2B": "JD", "3B": "JH", "4B": "JS", "1C": "QC", "2C": "QD", "3C": "QH", "4C": "QS", "1D": "KC", "2D": "KD", "3D": "KH", "4D": "KS"},
            status: 0,
        }
    },
    methods: {
        connect() {
            self = this
            this.ws = new WebSocket('ws://localhost:8080/ws') 
            this.ws.onopen = () => {
                console.log('[open connection]')
                self.sendMessage("connected")
                self.status = 1
                // self.pingTimer = setInterval(function() {
                //     self.sendMessage("ping")
                // }, 1000);
                // Listen for messages from Server
                this.ws.onmessage = event => {
                    console.log(`[Message from server]:\n %c${event.data}` , 'color: red')
                    
                    let cmd = event.data.substring(0, event.data.indexOf(' '));
                    let data = event.data.substring(event.data.indexOf(' ') + 1);
                    if(cmd===""){
                        cmd = event.data
                    }
                    switch(cmd) {
                        case 'roomInfo':
                            var d = JSON.parse(data)
                            self.data.roomInfo = d.roomInfo
                            break
                        case 'joinRoom':
                            var d = JSON.parse(data)
                            self.data.roomId = d.roomId
                            break
                        case 'leaveRoom':
                            var d = JSON.parse(data)
                            if(d.success){
                                self.data.roomId = null
                            }
                            self.status = 1
                            break
                        case 'gameStart':
                            self.clearDesk()
                            self.status = 2
                            break
                        case 'cardInfo':
                            var d = JSON.parse(data)
                            var s = d.card
                            if(s.length==0){
                                self.data.card = []
                            }else{
                                var arr = s.match(/.{2}/g).sort();
                                self.data.card = arr
                            }
                            
                            var s = d.coverCard
                            if(s.length==0){
                                self.data.coverCard = []
                            }else{
                                var arr = s.match(/.{2}/g).sort();
                                self.data.coverCard = arr
                            }
                            
                            break
                        case 'playCard':
                            var d = JSON.parse(data)
                            self.data.deskCard = d.desk_card
                            break
                        case 'cardHint':
                            var d = JSON.parse(data)
                            self.data.cardHint = {}
                            for(v of d.card){
                                self.data.cardHint[v] = true
                            }
                            break
                        case 'yourTurn':
                            var d = JSON.parse(data)
                            self.data.yourTurn = d.turn
                            break
                        case 'gameOver':
                            var d = JSON.parse(data)
                            self.status = 3
                            gameOver = {}
                            gameOver.score = d.score
                            gameOver.coverCard = []
                            for(coverCard of d.coverCard){
                                if(coverCard.length==0){
                                    gameOver.coverCard.push([])
                                }else{
                                    var arr = coverCard.match(/.{2}/g).sort();
                                    gameOver.coverCard.push(arr)
                                }
                            }
                            self.data.gameOver = gameOver
                            break
                        case 'backToRoom':
                            self.status = 1
                            this.sendMessage('roomInfo')
                            break
                    }
                }
            }
        },
        sendMessage(message) {
            if(message){
                this.ws.send(message)
            }else{
                this.ws.send(this.message)
            }
            
        },
        joinRoom(roomId = '') {
            if(roomId==''){
                
                this.sendMessage(`joinRoom`)
            }else{
                let s = JSON.stringify({'roomId':roomId})
                this.sendMessage(`joinRoom ${s}`)
            }
        },
        leaveRoom() {
            this.message = "leaveRoom"
            this.sendMessage()
        },
        getImage(card) {
            return 'img/'+this.cardMapImge[card]+'.svg'
        },
        playCard(card){
            if(this.isCoverCard()){
                return this.coverCard(card)
            }
            let s = JSON.stringify({'card':card})
            this.sendMessage(`game_play_card ${s}`)
        },
        coverCard(card){
            let s = JSON.stringify({'card':card})
            this.sendMessage(`game_cover_card ${s}`)
        },
        cardCanPlay(card) {
            if(card in this.data.cardHint){
                return "hint-card"
            }
        },
        isCoverCard() {
            return Object.keys(this.data.cardHint).length===0
        },
        clearDesk() {
            this.data.deskCard = {
                1: "",
                2: "",
                3: "",
                4: "",
            }
            this.data.gameOver = {
                score: [],
                coverCard: [],
            }
            this.data.deskCard = []
        }
    },
  }).mount('#app')
</script>




